body {
  background-image: url(Image/images.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  text-align: center;
  color: green;
}
p {
  color: red;
}
h2 {
  background-color: yellow;
}
